body {
	background: rgb(246, 237, 219);
	font-family: helvetica;
	margin: 0 auto;
	min-width: 1000px
}
header {
      background: url("http://i.imgur.com/2T8RMew.jpg");
      text-align: center;
      background-position: 100%;
}
ul {
      padding: 10px;
      margin: 0 auto;
}
.menu2 {
	background: rgb(253, 2, 91);
	font-family: helvetica;
	text-decoration: none;
	color: white;
	font-size: 16px; 
}
.menu2:visited {
	color: white;
}
.menu2:hover {
	color: rgb(247, 213, 55);
}
li {
      display: inline;
      padding: 0px 60px 0px 60px;
      color: white;
}
.li2 {
	display: inline;
    padding: 0px 30px 0px 30px;
    color: white;
}
.li3 {
	display: inline;
    padding: 0px 80px 0px 80px;
    color: white;
}
.top {
	font-family: helvetica;
	text-decoration: none;
	color: rgb(253, 2, 91);
	font-size: 23px;
}
.top:hover {
	color: rgb(247, 213, 55);
}
.menu {
	font-family: helvetica;
	text-decoration: none;
	color: white;
	font-size: 23px;
}
.menu:visited {
	color: white;
}
.menu:hover {
	color: rgb(247, 213, 55);
}
div.box {
	max-width: 800px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
	background: white;
	border: 7px solid white;
    border-radius: 20px;
}
h1 {
	font-family: arial;
	color: rgb(253, 2, 91);
	font-size: 50px;
	margin: 0 0 10px 0;
	text-align: left;
	border-bottom-style: solid;
	border-bottom-color: rgb(253, 2, 91);
}
h6 {
	margin: 0 auto;
}
.bouton-top{
width:40px;
height:40px;
position:absolute;
margin-left:90%;
}

#btn_up{
position:fixed;
cursor: pointer;
bottom:25%;
right:auto;
display:none
}
